body{
    text-align: center;
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

h1{
    color:brown;
    font-weight: bolder;
    font-size: xx-large;
    margin: 200px 0px 20px;
}
#clockdiv{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    display: inline-block;
    text-align: center;
    font-size: medium;
    font-weight: 900;
}
#clockdiv > div{
    padding: 50px;
    border-radius: 7px;
    background-color: black;
    display: inline-block;
}

#clockdiv div > span{
    padding: 60px;
    border-radius: 3px;
    background-color: white;
    display: inline-block;
}